---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ImageList from '../components/ImageList.astro';
---

<Layout title="LGTM Dachshund">
  <main>
    <Title text="LGTM Dachshund"/>
    <ImageList />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #5f2915;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
