---
import { Picture } from 'astro:assets';
import dachsfundGif from './images/dachshund.gif';
---

<div class="marquee overlay">
  <Picture
    src={dachsfundGif}
    formats={['gif']}
    alt="Dachshund"
    height={100}
    class="running-dachs"
  />
</div>
<script>
  import { DROPBOX_URL_LIST, DACHSHUND_TALK } from '../logics/constants';
  import { shuffleArray } from '../logics/shuffleArray';

  const dachs = document.querySelector('.running-dachs');
  dachs?.addEventListener('click', () => {
    const randomUrl = shuffleArray(DROPBOX_URL_LIST)[0];
    const randomDachsSay = shuffleArray(DACHSHUND_TALK)[0];
    alert(randomDachsSay + '\n (Random LGTM URL Copied!)');
    navigator.clipboard.writeText(`![LGTM](${randomUrl})`);
  });
</script>
<style>
  .marquee {
    overflow: hidden;
    animation: marquee 10s linear infinite;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  @keyframes marquee {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  .overlay {
    filter: opacity(50%);
  }
</style>
