---
import { LGTMImage } from './LGTMImage';
import { DROPBOX_URL_LIST } from '../logics/constants';
import { convertDropboxUrlListToSrcList } from '../logics/convertdropboxToSrc';
---

<ul>
  {
    convertDropboxUrlListToSrcList(DROPBOX_URL_LIST).map((src) => (
      <li>
        <LGTMImage client:load src={src} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 0 0 25%;
    padding: 10px;
  }

  @media (max-width: 768px) {
    li {
      flex: 0 0 33%;
    }
  }

  @media (max-width: 600px) {
    li {
      flex: 0 0 50%;
    }
  }

  @media (max-width: 300px) {
    li {
      flex: 0 0 100%;
    }
  }
</style>
../logics/dropboxUrlList ../logics/constants
