---
import { Icon } from 'astro-icon/components';
type Props = {
  text: string;
};

const { text } = Astro.props;
---

<h1>
  {
    text
      .split('')
      .map((letter, index) =>
        letter === ' ' ? (
          <span>&emsp;</span>
        ) : (
          <span class={index % 2 === 0 ? 'brown' : 'lightBrown'}>{letter}</span>
        ),
      )
  }
  <span class="brown"><Icon name="cil:animal" /></span>
</h1>
<style>
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  span.brown {
    display: inline-block;
    color: #7c6c10;
  }
  span.lightBrown {
    display: inline-block;
    color: #5f2915;
  }
</style>
