.image-container {
  position: relative;
  display: inline-block;
  max-width: 200px;
  img {
    opacity: 1;
    width: 100%;
    height: auto;
    border-style: none;
    vertical-align: bottom;
    &:hover {
      opacity: 0.5;
      transform: scale(1.01, 1.01);
      transform: rotate(1.0deg);
      transition: 0.3s ease-in-out;
    }
  }
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5f2915;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
